/* body {
  background-color: black;
} */

.first_element_a0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.com_img_outline {
  cursor: pointer;
}

.com_explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.toggle_button {
  margin-top: auto;
  align-self: flex-end;
  font-weight: bold;
}

img {
  height: auto;
}

.com_bg {
  background: #fff;
  width: 78.819vw;
  height: auto;
  margin: 3.3vw auto;
  position: relative;
}

.com_bg:before,
.com_bg:after {
  width: calc(100% - 20px);
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  content: "";
}

.com_bg:before {
  border-bottom: solid 20px #fff;
  border-right: solid 20px transparent;
  bottom: 100%;
  width: 100%;
}

/* ここまで */

.com_outline_SP {
  display: none;
}

.com_outline {
  padding: 0 8.33vw 0 12.84vw;
  background: black;
  padding-top: 9.375vw;
  padding-bottom: 5vw;
}

.com_title_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
}

.com_title_box {
  display: flex;
  align-items: center;
}

.com_title {
  color: #fff;
  font-family: Optima;
  font-size: 2.77vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-left: 12.152vw;
  margin-right: 3.81vw;
  width: 40vw;
  word-wrap: break-word;
}

.com_pen {
  width: 0.902vw;
  cursor: pointer;
}

.com_button_wrap {
  display: flex;
  justify-content: flex-end;
}

.com_admin_button {
  margin-right: 19px;
  width: 8.33vw;
  border: solid 1px #fff;
}

.com_admin_button_text {
  color: #fff;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_plan_button {
  border: solid 1px #fff;
  width: 4.93vw;
}

.com_plan_button_text {
  color: #fff;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_white_bg {
  height: auto;
}

.com_main_wrap {
  max-width: 1135px;
  background-color: #fff;
}

.com_svg_box_wrap {
  position: relative;
  top: -7.757vw;
  left: -4.35vw;
  /* z-index: 999; */
  z-index: 0;
}

.com_user_black_box {
  width: 14.58vw;
  position: absolute;
  z-index: 20;
}

.com_user_green_box {
  width: 13.88vw;
  height: 13.88vw;
  position: absolute;
  z-index: 10;
  top: 1.388vw;
  left: 1.388vw;
}

.com_user_img {
  width: 13.19vw;
  height: 13.19vw;
  position: absolute;
  z-index: 30;
  top: 0.694vw;
  left: 0.694vw;
}

.com_number {
  margin-bottom: 6px;
  margin-left: 12.152vw;
  font-size: 1.11vw;
  overflow: hidden;
  color: #00081a;
  font-family: Optima;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_explanation {
  max-width: 63.194vw;
  height: 6.94vw;
  margin-left: 12.152vw;
  margin-right: 3.47vw;
  color: #00081a;
  font-family: "Noto Sans JP";
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

ul {
  display: flex;
}

.com_com_SBT_tab {
  color: #00081a;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.com_img_arrow {
  width: 1.11vw;
  height: 0.97vw;
}

.com_com_SBT_text {
  color: #00081a;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.com_com_SBT_number {
  color: #00081a;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 0.625vw;
}

.com_com_CM_text {
  color: #00081a;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.com_com_CM_number {
  color: #00081a;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 0.625vw;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 2vw;
}

.react-tabs__tab-list {
  margin: 0 1.3vw 0 1.38vw;
  border-bottom: 1px solid #00081a;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 0.763vw 1.388vw 0.972vw 1.597vw;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #00081a;
  color: black;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.com_tab_outline {
  position: relative;
  border: solid 1px #00081a;
  border-top: none;
  margin: 0 1.38vw;
  padding: 0.763vw 1.31vw 4.166vw 1.31vw;
}

.com_tab_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.com_tab_wrap_com {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.com_tab_wrap .com_img_arrow,
.com_tab_wrap_com .com_img_arrow {
  display: none;
}

.react-tabs__tab--selected .com_tab_wrap .com_img_arrow,
.react-tabs__tab--selected .com_tab_wrap_com .com_img_arrow {
  display: inline;
}

.com_tab_wrap .com_com_SBT_number,
.com_tab_wrap_com .com_com_CM_number {
  display: block;
}

.react-tabs__tab--selected .com_tab_wrap .com_com_SBT_number,
.react-tabs__tab--selected .com_tab_wrap_com .com_com_CM_number {
  display: none;
}

.com_com_SBT_text,
.com_com_CM_text {
  display: block;
}

.com_img_arrow {
  margin-right: 1.388vw;
  width: 1.11vw;
  height: 0.97vw;
}

.com_community_SBT {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 0.694vw;
}

.com_community_SBT_box {
  display: flex;
  align-items: baseline;
}

.com_issue_num {
  color: #000;
  font-family: Optima;
  font-size: 2.22vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-right: 0.486vw;
}

.com_issue_SBT {
  color: #000;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_community_plus_box {
  display: flex;
  align-items: center;
  gap: 0.625vw;
}

.com_img_plus {
  width: 2.77vw;
  cursor: pointer;
}

.com_plus_num {
  color: #000;
  font-family: Optima;
  font-size: 1.66vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_img_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.388vw;
}

.com_img_wrap .condition_a {
  width: 100%;
  height: 28vw;
  display: grid;
  gap: 20px;
  grid-template-columns: calc((100% - 40px) * 0.4) calc((100% - 40px) * 0.2) calc(
      (100% - 40px) * 0.4
    );
  grid-template-rows: calc(50% - 10px) calc(50% - 10px);
}

.com_img_wrap .condition_a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.com_img_wrap .condition_a .com_img_outline:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.com_img_wrap .condition_a .com_img_outline:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.com_img_wrap .condition_a .com_img_outline:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.com_img_wrap .condition_a .com_img_outline:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.com_img_wrap
  .condition_a
  .com_img_outline:nth-child(2)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_a
  .com_img_outline:nth-child(4)
  .com_img_text_wrap
  .com_mem_detail {
  display: none;
}

.com_img_wrap .condition_b {
  width: 100%;
  height: 28vw;
  display: grid;
  gap: 20px;
  grid-template-columns:
    calc((20% - 15px) * 1) calc((40% - 15px) * 1) calc((20% - 15px) * 1)
    calc((20% - 15px) * 1);
  grid-template-rows: calc(50% - 10px) calc(50% - 10px);
}

.com_img_wrap .condition_b img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.com_img_wrap .condition_b .com_img_outline:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(1)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(3)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(4)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(5)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(6)
  .com_img_text_wrap
  .com_mem_detail,
.com_img_wrap
  .condition_b
  .com_img_outline:nth-child(7)
  .com_img_text_wrap
  .com_mem_detail {
  display: none;
}

.condition_c {
  width: 100%;
  height: 28vw;
  display: grid;
  gap: 20px;
  grid-template-columns:
    calc((20% - 15px) * 1) calc((20% - 15px) * 1) calc((40% - 15px) * 1)
    calc((20% - 15px) * 1);
  grid-template-rows: calc(50% - 10px) calc(50% - 10px);
}

.condition_c img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.condition_c .com_img_outline:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.condition_c .com_img_outline:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.condition_c .com_img_outline:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.condition_c .com_img_outline:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.condition_c .com_img_outline:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.condition_c .com_img_outline:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.condition_c .com_img_outline:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.condition_c .com_img_outline:nth-child(1) .com_img_text_wrap .com_mem_detail,
.condition_c .com_img_outline:nth-child(2) .com_img_text_wrap .com_mem_detail,
.condition_c .com_img_outline:nth-child(4) .com_img_text_wrap .com_mem_detail,
.condition_c .com_img_outline:nth-child(5) .com_img_text_wrap .com_mem_detail,
.condition_c .com_img_outline:nth-child(6) .com_img_text_wrap .com_mem_detail,
.condition_c .com_img_outline:nth-child(7) .com_img_text_wrap .com_mem_detail {
  display: none;
}

.com_img_outline {
  position: relative;
}

.com_img_text_wrap {
  width: 100%;
  padding: 0 20px 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 40;
}

.com_img_text_contents {
  display: flex;
  justify-content: space-between;
}

.com_img_text_name {
  color: #fff;
  font-family: Helvetica;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.com_img_text_number {
  color: #fff;
  font-family: Helvetica;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.com_mem_detail {
  z-index: 40;
  color: #fff;
  font-family: Helvetica;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 26px;
}

.com_img_small_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.388vw;
}

.com_img_small_text_wrap {
  display: flex;
  position: absolute;
  bottom: 0.48vw;
  left: 0.96vw;
  z-index: 40;
}

.com_img_small_text_name {
  color: #fff;
  font-family: Helvetica;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 5.625vw;
}

.com_img_small_text_number {
  color: #fff;
  font-family: Helvetica;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.com_img_small {
  width: 13.402vw;
  height: 13.54vw;
}

.com_img_small_2 {
  width: 13.402vw;
  height: 13.54vw;
}

.com_img_small_3 {
  width: 13.402vw;
  height: 13.54vw;
}

.com-issue_admin {
  margin-top: 1.458vw;
  margin-bottom: 0.416vw;
  color: #000;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com-issue_member {
  margin-top: 2.43vw;
  margin-bottom: 0.902vw;
  color: #000;
  font-family: Optima;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.com_CM_img_outline {
  position: relative;
}

.com_img_CM_text_name {
  color: #fff;
  font-family: Helvetica;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  bottom: 0.55vw;
  left: 0.625vw;
}

.com_img_CM_small {
  width: 13.5vw;
  height: 13.5vw;
}

.react-tabs__tab-panel {
  padding-top: 0;
  padding-bottom: 4.16vw;
}

.com_tabs_SP {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  min-width: 758px;
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal img {
  max-width: 50px;
  height: auto;
}

.add-addmin-text {
  font-size: 16px;
  font-weight: bold;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.contents-wrap{
  display: flex;
}

.input-address {
  border: 1px solid #000;
  padding: 5px;
  margin-top: 20px;
  width: 100%;
}

.button-wrap{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.close-button {
  background-color: #71ff01;
  color: #00081a;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.register-button {
  background-color: #71ff01;
  color: #00081a;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.flex-container {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {

  .modal-background{
    width: 100vw;
  }

  .modal {
    min-width: 90%;
    margin: 0;
  }

  .close-button,
  .register-button {
    font-size: 14px;
    position: static;
  }

  .close-button {
    margin-right: 20px;
  }
}

.overlayStyle {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 135.6944444444vw;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.editDoneCancel {
  padding: 2.66vw 5.33vw;
  font-size: 4.26vw;
}

.editOverlay {
  background: rgba(0, 8, 26, 0.3);
  width: 100%;
  height: 135.6944444444vw;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.editOverlay {
  height: 270vw;
}

.editBox {
  position: fixed;
  left: 33%;
  top: 8.125vw;
}

.nameArea {
  resize: none;
  line-height: 2;
  width: 34.7vw;
  height: 3.05vw;
  font-size: 0.97vw;
  padding-left: 0.6vw;
  padding-top: 0.9vw;
  border: 1px solid;
}

.prArea {
  resize: none;
  line-height: 1.5;
  width: 34.7vw;
  height: 8.33vw;
  margin-top: 3vw;
  font-size: 1.11vw;
  padding: 1vw;
  border: 1px solid;
}

.editBt {
  cursor: pointer;
  width: 1.5vw;
}

.editDoneCancel {
  text-align: center;
  font-size: 1.66vw;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 14px;
  background: white;
}

.editItemsRap {
  display: flex;
  gap: 1.388vw;
  position: absolute;
  left: 44%;
  top: 22vw;
}

.editIconRap {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 1001;
  top: 18vw;
  right: 24.4%;
}

.iconGreenBg {
  height: 135.6944444444vw;
  background: rgba(113, 255, 1, 0.5);
  margin: 0 auto;
  width: 20.833vw;
  padding-top: 23.291vw;
}

.modalIcon {
  width: 20.833vw;
  height: 20.833vw;
}

.modalBkgreen {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  background: rgba(113, 255, 1, 0.5);
  z-index: 10001;
}

.modalContentRap {
  display: flex;
  gap: 6.944vw;
  padding: 0 15.277vw;
  align-items: center;
}

.currentSbtDetail {
  display: flex;
  flex-direction: column;
}

.currentSbtDetail * {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.currentSbtDetail > p {
  display: flex;
}

.modalContentRap img {
  width: 27.77vw;
  height: 27.77vw;
}

.titleRap {
  margin-top: 2.361vw;
  margin-bottom: 1.527vw;
  align-items: center;
}

.sbtTitle {
  font-family: Noto Sans JP;
  font-size: 30px;
  line-height: 120%;
  margin-left: 76px;
}

.sbtMargin {
  margin-left: 25px;
  margin-bottom: 22px;
}

.sbtGer {
  margin-left: 42px;
  margin-bottom: 22px;
}

.sbtRec {
  margin-left: 55px;
}

.sbtRec2 {
  margin-top: 18px;
}

.icon {
  display: flex;
  width: 12.5vw;
  height: 12.5vw;
  /* transform: rotate(-45deg); */
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  z-index: 1001;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 1001;
  top: 26vw;
}

.inputStyle {
  border: 1px solid #000;
  padding: 5px;
}

.buttonStyle {
  padding: 5px 10px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonStyle:hover {
  background-color: #0056b3;
}

.modalStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  position: relative;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
}

.com_img_wrap_SP,
.com_com_SBT_text_sp,
.com_com_CM_text_sp {
  display: none;
}

@media only screen and (max-width: 599px) {
  .com_outline {
    padding: 19vw 16px 3vw;
  }
  .description {
    margin-top: 11vw;
  }

  .com_bg:before,
  .com_bg:after,
  .com_img_wrap_SBT,
  .com_com_SBT_text,
  .com_com_CM_text {
    display: none;
  }

  .com_bg {
    margin-top: 0;
    width: 100%;
  }

  .com_svg_box_wrap {
    top: -22vw;
    left: 3vw;
  }

  .com_user_img {
    width: 28vw;
    height: 28vw;
    top: 1.2vw;
    left: 1.2vw;
  }

  .com_user_green_box {
    top: 3.5vw;
    left: 4vw;
  }

  .com_user_black_box {
    width: 30vw;
  }

  .com_user_green_box {
    width: 28vw;
    height: 28vw;
  }

  .com_title_wrap {
    width: calc(100% - 37vw);
    margin-left: auto;
    flex-direction: column-reverse;
    justify-content: unset;
    padding-bottom: 0;
  }

  .com_title {
    font-size: 5vw;
    margin-left: 0;
    margin-right: 15px;
  }

  .com_pen {
    width: 4vw;
  }

  .com_title_box {
    margin-bottom: 12px;
  }

  .com_button_wrap {
    margin-bottom: 23px;
  }

  .com_admin_button {
    margin-right: 10px;
    width: fit-content;
  }

  .com_admin_button_text,
  .com_plan_button_text {
    font-size: 3.5vw;
    padding: 12px 22px;
    white-space: nowrap;
  }

  .com_plan_button {
    width: fit-content;
  }

  .com_number {
    font-size: 4.2vw;
    width: 40vw;
    padding-top: 14px;
    margin-left: auto;
    margin-right: 55px;
    text-overflow: ellipsis;
    line-height: 1;
  }

  .com_explanation {
    max-width: none;
    width: 100%;
    padding: 0 16px;
    margin: 0;
    margin-top: 16px;
    height: fit-content;
    font-size: 3.5vw;
  }

  .com_com_SBT_text_sp,
  .com_com_CM_text_sp {
    display: block;
  }

  .com_img_arrow {
    width: 14px;
    height: 14px;
  }

  .com_com_SBT_number,
  .com_com_CM_number {
    font-size: 1rem;
    margin-left: 12px;
  }

  .com_issue_num {
    font-size: 6vw;
    margin-right: 7px;
  }

  .com_issue_SBT {
    font-size: 3.8vw;
  }

  .com_img_plus {
    width: 6.5vw;
    margin-right: 10px;
  }

  .com_plus_num {
    font-size: 3.8vw;
  }

  .com_community_SBT {
    align-items: center;
  }

  .com_img_wrap_SP {
    display: flex;
    flex-wrap: wrap;
    gap: 1.388vw;
  }

  .com_img_outline_SP {
    position: relative;
  }

  .condition_a {
    display: grid;
    grid-template-columns: calc(66.6% - 5px) calc(33.3% - 5px);
    grid-template-rows: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
    height: 100%;
  }

  .condition_a > .com_img_outline_SP:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }

  .condition_a > .com_img_outline_SP:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .condition_a > .com_img_outline_SP:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .condition_a
    .com_img_outline_SP:nth-child(2)
    .com_img_text_wrap_SP
    .com_img_text_name_SP,
  .condition_a
    .com_img_outline_SP:nth-child(3)
    .com_img_text_wrap_SP
    .com_img_text_name_SP {
    display: none;
  }

  .condition_a
    .com_img_outline_SP:nth-child(2)
    .com_img_text_wrap_SP
    .com_img_text_number_SP,
  .condition_a
    .com_img_outline_SP:nth-child(3)
    .com_img_text_wrap_SP
    .com_img_text_number_SP {
    margin-left: auto;
  }

  .condition_b {
    display: grid;
    grid-template-columns: calc(33.3% - 5px) calc(66.6% - 5px);
    grid-template-rows: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
    height: 100%;
  }

  .condition_b > .com_img_outline_SP:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .condition_b > .com_img_outline_SP:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
  }

  .condition_b > .com_img_outline_SP:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .condition_b
    .com_img_outline_SP:nth-child(1)
    .com_img_text_wrap_SP
    .com_img_text_name_SP,
  .condition_b
    .com_img_outline_SP:nth-child(3)
    .com_img_text_wrap_SP
    .com_img_text_name_SP {
    display: none;
  }

  .condition_b
    .com_img_outline_SP:nth-child(1)
    .com_img_text_wrap_SP
    .com_img_text_number_SP,
  .condition_b
    .com_img_outline_SP:nth-child(3)
    .com_img_text_wrap_SP
    .com_img_text_number_SP {
    margin-left: auto;
  }

  .com_img_L_SP {
    height: 100%;
  }

  .com_img_L_SP img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .com_img_text_wrap_SP {
    width: 100%;
    bottom: 0;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 40;
  }

  .com_img_text_name_SP {
    color: #fff;
    font-family: Helvetica;
    font-size: 3.8vw;
    font-weight: 700;
  }

  .com_img_text_number_SP {
    color: #fff;
    font-family: Helvetica;
    font-size: 3.8vw;
    font-weight: 700;
  }

  .com-issue_admin,
  .com-issue_member {
    font-size: 3.8vw;
  }

  .com_img_CM_text_name {
    display: none;
  }
  .sbtfixedrap {
    position: fixed;
    top: 8%;
  }
  .sbtTitle {
    font-size: 16px;
    margin-left: 0px;
  }

  .overlayStyle {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 270vw;
    align-items: center;
  }
  .sbtModalImg {
    width: 53.33vw;
    height: 53.33vw;
    margin: 0 auto;
  }
  .currentSbtDetail * {
    font-weight: 500;
  }
  .currentSbtDetail > p {
    font-weight: 700;
  }
  .titleRap {
    margin-top: 26px;
    margin-left: 52px;
  }
  .sbtTitle {
    font-size: 16px;
    margin-left: 0px;
  }
  .sbtMargin {
    margin-left: 0px;
    margin-bottom: 5.33vw;
    width: 60vw;
    font-family: Noto Sans JP;
  }

  .genRap {
    margin-left: 18px;
  }
  .sbtGer {
    margin-left: 0px;
    margin-bottom: 5.33vw;
  }
  .recRap {
    margin-left: 30px;
  }
  .sbtRec {
    font-family: Noto Sans JP;
    margin-left: 0;
  }
  .sbtRec2 {
    font-family: Noto Sans JP;
  }
  .editBt {
    width: 21px;
    position: absolute;
    right: 12%;
  }
  .editBox {
    left: 16%;
    top: 7%;
  }
  .editIconRap {
    top: 58vw;
    right: 0%;
    position: fixed;
  }
  .editOverlay {
    height: 270vw;
  }

  .editDoneCancel {
    padding: 2.66vw 5.33vw;
    font-size: 4.26vw;
  }
  .editItemsRap {
    position: fixed;
    left: 73.2%;
    top: 78vw;
  }
  .nameArea {
    width: 68vw;
    height: 44px;
    font-size: 14px;
    padding-top: 7px;
    padding-left: 14px;
  }
  .prArea {
    font-size: 12px;
    padding: 10px 15px;
    height: 76px;
    width: 68vw;
  }
  .icon {
    width: 26.66vw;
    height: 26.66vw;
  }
}
